h1 {
    font-size: 5em;
    font-weight: 800;
}

.page-heading {
    font-size: 3em!important;
    font-weight: 800!important;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3em;
    }

    .page-heading {
        font-size: 2.5em!important;
    }
  }

.text {
    /* margin-top: 200px; */
}

.sponsors li {
    text-align: center;
    display: inline-block;
    margin: 20px 10px 80px 10px;
}

ul.sponsors img {
    height: 50px;
}

h3.display-3.sponsors-header {
    font-family: "Poppins", sans-serif !important;
    text-align: center;
    font-size: 40px;
    color: #001D38;
    font-weight: bold;
}

h3.display-3.sponsors-header > img {
    height: 80px;
}

