/*F1592A*/
.compapy_info .company_info.text-light h3 {
    color: #f8f9fa;
}

.compapy_info .company_info.text-light > p {
    color: #ccc;
}

.compapy_info .company_info.text-light a {
    color: #aaa;
}

.compapy_info .company_info  a:hover {
    color: #bbb;
    text-decoration: underline;
}

.case_bg_1 {
    background-color: #F1592A;
}

.orange {
    background-color: #F1592A;
    /*color: white !important;*/
}

.subheading {
    background-color: transparent !important;
}

.header-area .main-header-area .main-menu ul li a {
    color: #aaa !important;

}

.header-area .main-header-area {
    background-image: linear-gradient(#3335, transparent);
}

.slider_bg_1 {
    background-image: url("../img/banner/main_banner.jpg") !important;
    height: 100vh !important;
    background-position: bottom !important;
    background-size: 100vw !important;
}

h1 {
    font-size: 5em;
    font-weight: 800;
}

.page-heading {
    font-size: 3em!important;
    font-weight: 800!important;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3em;
    }

    .page-heading {
        font-size: 2.5em!important;
    }
  }

.text {
    /* margin-top: 200px; */
}

.sponsors li {
    text-align: center;
    display: inline-block;
    margin: 15px 10px 110px 10px;
}

ul.sponsors img {
    height: 50px;
}

h3.display-3.sponsors-header {
    font-family: "Poppins", sans-serif !important;
    text-align: center;
    font-size: 40px;
    color: #001D38;
    font-weight: bold;
}

h3.display-3.sponsors-header > img {
    height: 80px;
}

