@font-face {
    font-family: futura;
    src: url("futura/Futura-Medium.woff") format('woff'),
        url("futura/futura.woff2") format('woff2'),
        url('futura/futur.ttf') format('truetype');
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

}

html {
    background-color: #F1592A;
    color: #ccc;
    overflow-x: hidden;
}

.case_study_area .single_study .subheading p {
    color: #ccc;
}

.case_study_area, .features_area, .accordion_area {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
}

.meet-our-team {
    padding-bottom: 3rem;
}

.compapy_info .company_info p {
    color: #ccc;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: futura;
}

/*F1592A*/
.compapy_info .company_info.text-light h3 {
    color: #f8f9fa;
}

.compapy_info .company_info.text-light > p {
    color: #ccc;
}

.compapy_info .company_info.text-light a {
    color: #aaa;
}

.compapy_info .company_info  a:hover {
    color: #bbb;
    text-decoration: underline;
}

.case_bg_1 {
    background-color: #F1592A;
}

.orange {
    background-color: #F1592A;
    color: #ccc;
}

.card > img {
    height: 20rem;
    object-fit: cover;
    border-radius: 3%;
}

.card-title {
    color: #f8f9fa!important;
}

.card-subtitle.text-muted {
    color: #ddd !important;
}

.card-text {
    color: #ccc;
}

.subheading {
    background-color: transparent !important;
}

.no-border * {
    border: none !important;
}

.header-area .main-header-area .main-menu ul li a {
    color: #aaa !important;

}

.header-area .main-header-area {
    background-image: linear-gradient(#3335, transparent);
}

.slider_bg_1 {
    background-image: url("../img/banner/main_banner.jpg") !important;
    height: 100vh !important;
    background-position: bottom !important;
    background-size: 100vw !important;
}

h1 {
    font-size: 5em;
    font-weight: 800;
}

.card {
    background-color: #F1592A;
    color: #ccc;
}

.page-heading {
    font-size: 3em!important;
    font-weight: 800!important;
}

.faq_ask > h5 {
    color: #f8f9fa;
}

.faq_ask > p {
    color: #ccc;
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3em;
    }

    .page-heading {
        font-size: 2.5em!important;
    }
  }

.text {
    /* margin-top: 200px; */
}

.sponsors li {
    text-align: center;
    display: block;
    margin: 40px 40px 40px 40px;
}

.sponsors img {
    height: 6rem;
    filter: grayscale(100%);
    transition: filter 0.5s linear;
}

.sponsors img:hover {
    height: 6rem;
    filter: grayscale(0%);
}

h3.display-3.sponsors-header {
    font-family: "Poppins", sans-serif !important;
    text-align: center;
    font-size: 40px;
    color: #001D38;
    font-weight: bold;
}

h3.display-3.sponsors-header > img {
    height: 80px;
}

.footer_widget > p, .socail_links i, .footer_widget a{
    color: #ccc !important;
}

.socail_links a, .newsletter_form > input {
    border-color: #ccc !important;
}

.socail_links a:hover {
    background: none;
}