@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Oxygen');

body {
    margin: 0;
}

h1, h2, h3 {font-family: 'Oxygen', sans-serif;}
p, button, a {font-family: 'Noto Sans KR', sans-serif;}

.sponsor-image {
    padding-left: 20px;
    padding-top: 20px;
}

.big {
    font-size: 45px!important; /* should override other size styles */
}

.sponsors a:hover {
	text-decoration: none;
}
